<div>
  <h3>Example Translate</h3>
  <div>
    <p>{{'common.login' | translate}}</p>
    <p>{{'common.password_reminder' | translate}}</p>
    <p>{{'common.register_account' | translate}}</p>
  </div>
  <div>
    <select [(ngModel)]="language" (change)="setLanguage(language)">
      <option [ngValue]="lang" *ngFor="let lang of languages">{{lang}}</option>
    </select>
  </div>

</div>
